<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styling/style2.css">
    <link rel="stylesheet" href="/styling/secResponse.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="wrapContainer" >
        <div class="mainContainer">
            <div class="mainHeadText" data-aos="fade-up">ABOUT US</div>
            <div class="headFirst" data-aos="fade-right">
                "Amazing Designs and Quality Work!"
            </div>
            <div class="headText">
                <div class="headTextAlign">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet mollitia, vel voluptate officiis saepe libero quidem explicabo, optio, vero voluptates accusamus odit! Aliquid id, tempora nam animi cumque enim aliquam.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat in explicabo blanditiis numquam id quidem, eligendi esse quas accusantium provident commodi laudantium nam tempore necessitatibus excepturi, illo hic exercitationem voluptatem!
                </div>
            </div>
        </div>
    
    
        <!-- Second Sec -->
        <div class="imgSec">
    
            <div class="imgTopSec">
                <div class="imgTopSecFirst" >
                    MEET OUR FOUNDERS
                </div>
    
                <div class="imgTopSecSecond">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique nisi adipisci eos, perspiciatis repellat atque, officia rerum cum praesentium sit! Eaque, rerum.
                </div>
            </div>
    
    
    
            <div class="imgBottomSec">
    
                <div class="teamData" data-aos="fade-right">
                    <img src="/image/team-1.jpg" alt="img of leader" class="imgs">
                    <div class="founderName" data-aos="fade-down">Willma Jons</div>
                    <div class="position">Founder</div>
                </div>
    
                <div class="teamData" data-aos="fade-right">
                    <img src="/image/team-2.jpg" alt="img of leader" class="imgs">
                    <div class="founderName" data-aos="fade-down">Tony Shark</div>
                    <div class="position">Co-Founder</div>
                </div>
    
                <div class="teamData" data-aos="fade-right">
                    <img src="/image/team-3.jpg" alt="img of leader" class="imgs">
                    <div class="founderName" data-aos="fade-down">Richard Kin</div>
                    <div class="position">CEO</div>
                </div>
                
                
            </div>
    
        </div>
    
            <!-- join us part -->
    
            <div class="finalPart" data-aos="fade-up-right">
                <div class="firstFinalPart">
                    <div class="innerFinalPart">
    
                        <div class="rightPartFinalSec">
    
                            <div class="finalSecHead">Would you like to start a project with us?</div>
                            <div class="finalSecSmallText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod maxime voluptatem velit autem, ullam nemo magnam labore voluptatum placeat vero numquam voluptatibus cum doloremque aliquid enim eos distinctio minima provident.</div>
    
                        </div>
    
                        <div class="leftPartFinalSec">
                            <div class="finalPartbox">
                                <div class="finalPartNum">
                                    +91 12345-67890
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        offset: 220,
        duration: 1000
    });
  </script>
    
</body>
</html>