<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styling/style2.css">
    <link rel="stylesheet" href="/styling/secResponse.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="wrapContainer">
        <div class="mainContainer">
            <div class="mainHeadText" data-aos="fade-up">CONTACT US</div>
            <div class="headFirst" data-aos="fade-right">
                "Connect with us to get all updates!"
            </div>
            <div class="headText">
                <div class="headTextAlign">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet mollitia, vel voluptate officiis saepe libero quidem explicabo, optio, vero voluptates accusamus odit! Aliquid id, tempora nam animi cumque enim aliquam.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat in explicabo blanditiis numquam id quidem, eligendi esse quas accusantium provident commodi laudantium nam tempore necessitatibus excepturi, illo hic exercitationem voluptatem!
                </div>
            </div>
        </div>
    
    
        <!-- Second Sec -->
        <div class="imgSec">
    
            <div class="imgTopSec">
                <div class="imgTopSecFirst" >
                    OUR SOCIAL MEDIA HANDEL
                </div>
    
                <div class="imgTopSecSecond">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique nisi adipisci eos, perspiciatis repellat atque, officia rerum cum praesentium sit! Eaque, rerum.
                </div>
            </div>
    
    
    
            <div class="imgBottomSec">
    
                <div class="teamData2" data-aos="fade-right">
                    <div class="viwersCount"> INSTAGRAM</div>
                    <div class="icon"> <a href="https://www.instagram.com/nexusinfo.in/" class="icons"> <i class="fa-brands fa-square-instagram fa-4x"></i></a> </div>
                    <div class="socialMediaData">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet tenetur dignissimos sequi quis et quas laudantium, officiis quia facere eligendi, voluptatem explicabo dolor hic atque, voluptatum corporis </div>
                    <div class="viwersCount" data-aos="fade-down"> 35K <span data-aos="fade-down"> + </span> FOLLOWERS</div>
                </div>

                <div class="teamData2" data-aos="fade-right">
                    <div class="viwersCount"> LINKEDIN </div>
                    <div class="icon"> <a href="https://www.linkedin.com/company/nexus-software-pvt-ltd/?originalSubdomain=in" class="icons"> <i class="fa-brands fa-linkedin fa-4x"></i> </a> </div>
                    <div class="socialMediaData">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet tenetur dignissimos sequi quis et quas laudantium, officiis quia facere eligendi, voluptatem explicabo dolor hic atque, voluptatum corporis </div>
                    <div class="viwersCount" data-aos="fade-down"> 10K <span data-aos="fade-down"> + </span> FOLLOWERS</div>
                </div>


                <div class="teamData2" data-aos="fade-right">
                    <div class="viwersCount"> GOOGLE </div>
                    <div class="icon"> <a href="https://nexusinfo.in/" class="icons"> <i class="fa-brands fa-google fa-4x"></i> </a> </div>
                    <div class="socialMediaData">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet tenetur dignissimos sequi quis et quas laudantium, officiis quia facere eligendi, voluptatem explicabo dolor hic atque, voluptatum corporis </div>
                    <div class="viwersCount" data-aos="fade-down"> 50K <span data-aos="fade-down"> + </span> HAPPY CUSTOMERS</div>
                </div>
    
                
                
                
            </div>
    
        </div>
    
            <!-- join us part -->
    
            <div class="finalPart">
                <div class="firstFinalPart">
                    <div class="innerFinalPart">
    
                        <div class="rightPartFinalSec">
    
                            <div class="finalSecHead">Would you like to start a project with us?</div>
                            <div class="finalSecSmallText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod maxime voluptatem velit autem, ullam nemo magnam labore voluptatum placeat vero numquam voluptatibus cum doloremque aliquid enim eos distinctio minima provident.</div>
    
                        </div>
    
                        <div class="leftPartFinalSec">
                            <div class="finalPartbox">
                                <div class="finalPartNum">
                                    +91 12345-67890
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        offset: 220,
        duration: 1000
    });
  </script>
    
</body>
</html>