<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styling/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/styling/response.css">
    <link rel="stylesheet" href="/styling/responsive2.css">
</head>
<body>
    <div class="wholeWebsite">
        <header>

            <div class="mainContainer">
                <!-- Navbar -->
                <nav>
                    <div class="navbar">
                        <div class="headLogo"> <img src="/image_main/nexus_logo.png" class="nexusLogo">  </div>
                        <div class="hamburgerContent">
                            <div class="headHome headDesign"> <a href="/home" class="link">Home</a> </div>
                            <div class="headAbout headDesign"> <a href="/home/about" class="link">About Us</a> </div>
                            <div class="headServices headDesign"> <a href="/home/services" class="link">Services</a> </div>
                            <div class="headContact headDesign"> <a href="home/contact" class="link">Contact</a> </div>
                            <div class="hamburger"><i class="fa-solid fa-bars fa-3x ham"></i></div>
                        </div>

                        <!-- hamburger -->
                        <div class="hamburgerVisible hider">
                            <div class="SectionSelector"> <a href="/home">Home</a> </div>
                            <div class="SectionSelector"> <a href="/home/about">About us</a> </div>
                            <div class="SectionSelector"> <a href="/home/services">Services</a> </div>
                            <div class="SectionSelector"> <a href="home/contact">Contact us</a> </div>
                            <div class="closer SectionSelector"> <i class="fa-solid fa-xmark"></i> </div>
                        </div>
                        
                     </div>
                </nav>
    
    
                <div class="homeDecor">
    
                    <!-- text section -->
                    <div class="textContainer">
                        <div class="firstText">
                            Place Where <span class="textBold">CREATIVITY</span> meets <span class="textBold">INNOVATION</span>
                        </div>
    
                        <div class="boldText">
                            <div class="boldTextLineOne">
                                Grow your Business
                            </div>
    
                            <div class="boldTextLineTwo">
                                with Nexus Info
                            </div>
                        </div>
    
                        <div class="lastText">
                            <!-- Get a professional website and digital marketing support for your business within your budget. -->
                            Lorem ipsum dolor sit amet consecteturagni nulla accusantium vitae, tenetur et est sunt, asperiores assumenda voluptatem.
                        </div>

                        <div class="LoginSignUp" data-aos="fade-right">
                            <div class="btn">  <button type=" submit" class="btn">
                                <a href="#" class="btnDecor"> Join Us</a> </div>
                            </button> 
                        </div>
                    </div>
    
                    <div class="homeDecorImg">
                        <img src="/image_main/side_img.png" class="sideImg" data-aos="fade-left">
                    </div>
    
                </div>
    
                
            </div>
        </header>
    
    
        <!-- Second page -->
        <div class="containerServices">
    
            <div class="secondPageHead" data-aos="fade-in">How can we help you?</div> <br>
            <div class="SecondPageSmallTextContainer">
                <div class="SecondPageSmallText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, culpa. Quidem accusantium repudiandae libero laborum ad quo voluptatibus accusamus magni nam aliquam, reiciendis ab atque repellendus totam commodi unde minus.</div>
            </div>
    
            <div class="postCardsContainer" data-aos="fade-left">
                <div class="postCardOuterVisibleContainer" >
    
                    <div class="postCardDataBox">
    
                        <div class="postCardInnerDataBox">
                            <div class="icondiv"> <i class="fa-solid fa-city icon fa-3x"></i> </div>
                            <div class="icondiv2"> <i class="fa-solid fa-city icon fa-5x"></i> </div>
                            <div class="postCardTitle">Digital Marketing</div>
                            <div class="postCardData">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque beatae eum, inventore delectus obcaecati dolore nulla ipsum quia cum impedit labore distinctio aut alias odio.</div>
                        </div>
                         
                    </div>
    
                    <div class="postCardDataBox">
    
                        <div class="postCardInnerDataBox">
                            <div class="icondiv"> <i class="fa-solid fa-palette icon fa-3x"></i> </div>
                            <div class="icondiv2"> <i class="fa-solid fa-palette icon fa-5x"></i> </div>
                            <div class="postCardTitle"> Graphic Designing </div>
                            <div class="postCardData">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque beatae eum, inventore delectus obcaecati dolore nulla ipsum quia cum impedit labore distinctio aut alias odio.</div>
                        </div>
                         
                    </div>
    
    
                    <div class="postCardDataBox">
    
                        <div class="postCardInnerDataBox">
                            <div class="icondiv"> <i class="fa-solid fa-code icon fa-3x"></i></div>
                            <div class="icondiv2"> <i class="fa-solid fa-code icon fa-5x"></i></div>
                            <div class="postCardTitle">Web Development</div>
                            <div class="postCardData">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque beatae eum, inventore delectus obcaecati dolore nulla ipsum quia cum impedit labore distinctio aut alias odio.</div>
                        </div>
                         
                    </div>
                    
    
                </div>
            </div>
            
        </div>
    
    
        <!-- Third Page -->
         <div class="projectDisplaySection">
    
            <div class="secondPageHead" data-aos="fade-in">Our Project</div> <br>
            <div class="SecondPageSmallTextContainer">
                <div class="SecondPageSmallText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, culpa. Quidem accusantium repudiandae libero laborum ad quo voluptatibus accusamus magni nam aliquam, reiciendis ab atque repellendus totam commodi unde minus.</div>
            </div>
    
            <div class="projectDisplay">
                <div class="projectDisplayInner" >
                    <div class="projectImg" data-aos="slide-right"> <img src="/image_main/project1.png" alt="project_img" class="projectImg"> </div>
                    <div class="projectImg" data-aos="slide-left"> <img src="/image_main/project2.png" alt="project_img" class="projectImg"> </div>
    
                </div>
             </div>
         </div>
    
    
         <!-- fourth page -->
    
         <div class="halfImgHalfText">
            <div class="dividerContainer">
    
                <div class="leftSection">
                    <div class="main">
                        <div class="text active">Graphics</div>
                        <div class="text">Development</div>
                        <div class="text">Marketing</div>
                    </div>
    
                    <div class="fourthText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, quis itaque exercitationem eius saepe quas quidem earum ex dolorem dolores atque minima optio, rem, libero totam consectetur quia mollitia ipsam!
                        Neque recusandae, vitae culpa laudantium voluptatum dolore, ipsum vel reiciendis omnis excepturi, iste facere distinctio. Iste, id velit. Quaerat voluptatibus temporibus odit saepe fuga recusandae iusto iure eius est nulla.
                        Amet velit nemo fugiat veniam aperiam saepe repudiandae omnis neque ipsum atque facere cumque, nihil minima quia odio dicta officiis eos eum praesentium voluptatem! Dolores harum itaque corrupti eius vel.
                    </div>
                </div>
    
                <div class="fouthPageGirl1">
                    <div class="rightSection ">
                        <img src="/image_main/graphics.png" alt="girl img" class="fouthPageGirl activate">
                        <img src="/image_main/blue_girl.png" alt="girl img" class="fouthPageGirl">
                        <img src="/image_main/marketing.jpeg" alt="girl img" class="fouthPageGirl">
                    </div>  
                </div>
    
            </div>
    
         </div>
    
         <!-- Connect with us and forms  -->
    
         <div class="halfImgHalfText2">
            <div class="dividerContainer2">
    
                <div class="leftSectionlogos">
    
                    <div class="logosToConnect logodivider" data-aos="slide-right">
                        <h1 class="connectionDiv"> Stay Connected with Us!</h1>
                        <div class="logoCollector">
                            <a href="https://in.linkedin.com/company/nexus-software-pvt-ltd" class="logos"> <i class="fa-brands fa-linkedin fa-2x"></i></a>
                            <a href="https://nexusinfo.in/" class="logos"> <i class="fa-brands fa-google fa-2x"></i></a>
                            <a href="https://www.instagram.com/nexusinfo.in/" class="logos"> <i class="fa-brands fa-instagram fa-2x"></i></a>
                            <a href="https://x.com/nexusofficial?lang=en" class="logos"> <i class="fa-brands fa-x-twitter fa-2x"></i></a>
                        </div>
                    </div>
    
                    <div class="feedbackForm logodivider">
                        <h1 class="connectionDiv1"> Any Feedback!</h1>
                        <textarea placeholder="    Feedback" rows="10" cols="70" class="textarea" name="feedback" ></textarea>
                        <textarea placeholder="    Feedback" rows="35" cols="110" class="textarea1" name="feedback" ></textarea>
                        <div class="LoginSignUp">
                            <div class="btn" onclick="feedbackSent()">  <button type=" submit" class="btn">
                                <a href="#" class="btnDecor"> Submit</a> </div>
                            </button> 
                        </div>
    
                    </div>
    
                </div>
    
                <div class="rightSectionForm">
    
                    <h1 class="connectionDiv2"> Fill form to stay Updated with us!</h1>
                    <div class="CustomerForm">
                        <h2 class="formFirstText"> Enter Your Information Here!</h2>
                        <form method="post" action="/">
                            <input type="text" placeholder=" Name" class="dataCollector" name="name">
                            <input type="email" placeholder="  Email" class="dataCollector" name="email">
                            <input type="number" placeholder="   Contact Number" class="dataCollector"  name="number">
                            <!-- Form submition -->
                            <!-- <form method="post" action="/"> -->
                                <div class="LoginSignUp">
                                    <div class="btn" onclick="emailSent()">  <button type=" submit" class="btn">
                                        <a href="#" class="btnDecor"> Submit</a> </div>
                                    </button> 
                                </div>
                            <!-- </form> -->
                            
    
                        </form>
                    </div>
    
                </div>
    
            </div>
         </div>
    
    
         <footer>
            <div class="footerPart">
                <div class="upperPartFooter">
                    <div class="footerSection">
                        <img src="/image_main/nexus_logo.png" alt="logo" class="footerLogo">
                        <p class="footerText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ex vel doloremque, enim earum amet expedita quasi blanditiis officia, at odit asperiores distinctio facilis ratione aliquid nesciunt esse corporis nulla?
                        </p>
                    </div>
    
                    <div class="footerSection">
                        <h3 class="footerBoxHead"> Company</h3>
                        <p class="footerText">
                            <a href="#" class="footerText" >Home</a> <br>
                            <a href="#" class="footerText">About</a> <br>
                            <a href="#" class="footerText">Service</a> <br>
                            <a href="#" class="footerText">Contact</a> <br>
                        </p>
                    </div>
    
                    <div class="footerSection">
                        <h3 class="footerBoxHead"> Business</h3>
                        <p class="footerText">
                            <a href="#" class="footerText" >Project</a> <br>
                            <a href="#" class="footerText">Our Team</a> <br>
                            <a href="#" class="footerText"> Facts</a> <br>
                            <a href="#" class="footerText">Customer</a> <br>
                        </p>
                    </div>
    
                    <div class="footerSection">
                        <h3 class="footerBoxHead"> Get in Touch</h3>
                        <p class="footerText">
                            Rt. 66, Gota Cross, Ahmedabad, Gujarat
                            website@gmail.com
                            1800-1234-567
                            +91 87-654-3210
                        </p>
                    </div>
                </div>
    
                <div class="lowerPartFooter">
                    <div class="footerFinalText">Copyright © 2024 webserver Agency </div>
                </div>
                
            </div>
         </footer>
    
    </div>

    <script>
        let text=document.querySelectorAll(".text");
        let inita=0;

        function slider(jumper){
            if (jumper >= text.length){
                jumper=0;
            }

                text[inita].classList.toggle("active");
                text[jumper].classList.toggle("active");  
                inita=jumper; 
        }


        let fouthPageGirl=document.querySelectorAll(".fouthPageGirl");
        let inita1=0
        function slider1(jumper){
            if (jumper >= fouthPageGirl.length){
                jumper=0;
            }

            fouthPageGirl[inita1].classList.toggle("activate");
            fouthPageGirl[jumper].classList.toggle("activate");
            inita1=jumper; 
        }



        window.onload=setInterval(function(){
            slider(inita+1);
            slider1(inita1+1);
        },2000)

        // hamburger

        let hamburger =document.querySelector(".hamburger");
        let hamburgerVisible=document.querySelector(".hamburgerVisible");
        let headLogo=document.querySelector(".headLogo");
        let ham=document.querySelector(".ham");

        hamburger.addEventListener("click", ()=>{
            hamburgerVisible.classList.remove("hider");
            headLogo.classList.add("hider");
            ham.classList.add("hider");

        });


        let closer =document.querySelector(".closer");

        closer.addEventListener("click", ()=>{
            hamburgerVisible.classList.add("hider");
            headLogo.classList.remove("hider");
            ham.classList.remove("hider");
        });

        function emailSent(){
            alert("Thanks for connecting with us!!");
        }

        function feedbackSent(){
            alert("Thanks for feedback!!");
        }
    </script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        offset: 220,
        duration: 1000
    });
  </script>
</body>
</html>